<template>
  <q-page padding class="column justify-center items-center" style="min-height: 250px">
    <template v-if="messages.length === 0">
      <q-btn class="row q-mb-sm">Cargar tabla de empleados de planilla sueldos</q-btn>
      <q-btn class="row q-mb-sm">Actualizar usuarios desde planilla sueldos</q-btn>
      <q-btn class="row q-mb-sm" @click="procesaPdf">Parse Recibos.pdf de planilla sueldos</q-btn>
    </template>
    <template v-else>
      <div v-if="!loading" class="q-mb-sm"><q-btn @click="() => {messages = []}">Listo</q-btn></div>
      <div v-for="(msg, index) in messages" :key="index" class="q-mb-xs">{{ msg.task }}</div>
      <div v-if="!loading" class="q-mt-sm"><q-btn @click="() => {messages = []}">Listo</q-btn></div>
    </template>
  </q-page>
</template>

<script>
import { ref, onBeforeMount } from '@vue/composition-api'
export default {
  setup (_, { root }) {
    const axios = root.$axios
    const loading = ref()
    const messages = ref([])
    const procesaPdf = async () => {
      loading.value = true
      await axios.get('procesaPdf')
      loading.value = false
    }
    onBeforeMount(() => {
    })
    return { procesaPdf, loading, messages }
  }
}
</script>

<style>

</style>
