<template>
  <q-page padding class="column justify-center items-center" style="min-height: 250px">
    <template v-if="urls.length">
      <q-card v-for="(url, index) in urls" :key="index" style="width: 100%;min-height: 250px">
        <q-card-actions class="justify-end">
          <q-btn icon-right="cloud" color="primary" @click="openUrl(url.url)">Bajar PDF&nbsp;</q-btn>
        </q-card-actions>
        <q-img :src="url.img" @load="loadingImg = false">
          <template v-slot:loading>
            <div />
          </template>
        </q-img>
      </q-card>
    </template>
    <template v-else-if="! loadingImg">
      No encontrado
    </template>
    <q-spinner v-if="loadingImg" size="50px" color="primary" style="" class="fixed-center" />
  </q-page>
</template>

<script>
import Vue from 'vue'
import { watch, ref } from '@vue/composition-api'
const getUrls = async () => {
  try {
    const resp = await Vue.prototype.$axios.get('/empleado/getPdfUrls')
    return resp
  } catch (error) {
    console.log('error', error)
    // const error = handleAxiosError(_error)
    alert(error.statusMsg)
    // if (error.status === 401) root.$router.push('/printDoc')
  }
}
export default {
  setup (_, { root }) {
    const urls = ref([])
    const loadingImg = ref(true)
    const openUrl = (url) => {
      window.open(url, '_blank')
    }
    watch(() => root.$store.getters['session/loggedIn'], async (loggedIn) => {
      if (loggedIn) {
        const resp = await getUrls()
        if (resp.urls.length === 0) loadingImg.value = false
        urls.value = resp.urls
      }
    })
    return { urls, openUrl, loadingImg }
  }
}
</script>

<style>

</style>
