<template>
  <q-layout view="hHh lpR fFf">
    <q-ajax-bar size="2px" />

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click.stop="left = !left" />
        <q-toolbar-title>
          <q-avatar style="width: 45px; height: 45px">
            <div class="text-subtitle1">IAE</div>
          </q-avatar>
          <div class="col" />
        </q-toolbar-title>

        <q-btn v-if="$route.path !== '/login' && !$store.getters['session/loggedIn']" flat @click="$router.push('/login')">
          <span>Ingreso/Registro</span>
        </q-btn>
        <!-- profile menu , ya ingresó-->
        <q-btn-dropdown v-show="$store.getters['session/loggedIn']" id="profile-btn" ref="profileBtn" v-remove-arrow
                        icon="person" rounded unelevated :label="$store.getters['session/loggedIn'] ? $store.state.session.user.nombre : 'nada'">
          <q-list style="width: 180px">
            <q-item v-close-popup v-ripple clickable @click="logout">
              <q-item-section side>
                <q-icon name="exit_to_app" />
              </q-item-section>
              <q-item-section>Cerrar Sesión</q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </q-toolbar>
    </q-header>
    <q-drawer ref="drawer" v-model="left" behavior="mobile" show-if-above
              :breakpoint="900" side="left" bordered no-swipe-close>
      <q-list class="rounded-borders">
        <my-drawer-content v-if="false" :items="items" />
        <q-item v-if="loggedIn" exact style="cursor: pointer" @click.native="logout()">
          <q-item-section avatar>
            <q-icon name="exit_to_app" />
          </q-item-section>
          <q-item-section>Cerrar Sesión</q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container id="venta-page-container">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref, computed } from '@vue/composition-api'
import { RemoveArrow } from 'app/src/components/RemoveArrowDirective'
import store from 'src/store'
import myDrawerContent from 'app/src/components/MyDrawerContent'
function setItemsDefaults (items, level = 0) {
  items.forEach((e) => {
    if (e.protected === undefined) e.protected = false
    e.level = level
    // if (level === 0) e.group = 'uno';
    e.group = String(level)
    if (e.items) {
      level += 0.3
      e.items = setItemsDefaults(e.items, level)
      level -= 0.3
    }
  })
  return items
}
export default {
  directives: { RemoveArrow },
  components: { myDrawerContent },

  setup (prop, { root }) {
    const items = ref(setItemsDefaults([
      {
        label: 'Proveedores',
        icon: 'receipt',
        open: true,
        items: [
          { label: 'Administración', to: '/proveedorAdmin', icon: 'receipt' },
          { label: 'Orden de Pago', to: '/doc/op', icon: 'receipt' }
        ]
      }
    ]))
    const loggedIn = computed(() => root.$store.getters['session/loggedIn'])
    const left = ref(false)
    const logout = () => {
      console.log('detalle', new Date())
      store.dispatch('session/logout')
      if (root.$route.path !== '/login') root.$router.push('/login')
    }
    return { logout, left, items, loggedIn }
  }
}
</script>
