<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
// import { soloEnDevMode } from 'src/helpers'
import { onBeforeMount } from '@vue/composition-api'

export default {
  name: 'App',
  setup (props, { root }) {
    onBeforeMount(() => {
      // const user = root.$store.state.session.user
      const route = root.$route.path
      console.log('route', route)
      // if (!user && route !== '/login') root.$router.push('/login')
    })
  }
}
</script>
