@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.woff?1sn6h6") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dots-horizontal-triple:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-print1:before {
  content: "\f02f";
}
.icon-exit1:before {
  content: "\ea14";
}
